# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode8
before_install:
- gem install cocoapods
- gem install xcpretty --no-rdoc --no-ri --no-document --quiet
script:
- set -o pipefail && xcodebuild test -workspace Example/GTToast.xcworkspace -scheme GTToast-Example -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO | xcpretty -c
